<ion-content>
  <p class="rate_emoji">😃</p>
  <p class="rate_text">How do you rate our service?</p>
  <br>
  <div class="stars">
    <ion-icon name="star" class="checked"></ion-icon>
    <ion-icon name="star" class="checked"></ion-icon>
    <ion-icon name="star" class="checked"></ion-icon>
    <ion-icon name="star" class="checked"></ion-icon>
    <ion-icon name="star"></ion-icon>
  </div>

  <ion-button color="vibrant" class="home_btn" [routerLink]="'/search/'">Rate</ion-button>


</ion-content>