ion-content {
    text-align: center;
}

.lost_icon {
    padding-top: 30vh;
    color: rgb(214, 49, 49);
    font-size: 60px;
}

.lost_text {
    padding: 0 20vw;
}

.home_btn {
    margin-top: 20vw;
}