<ion-header>
  <ion-toolbar color="vibrant">
    <ion-title>
      TRAGS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <!-- <div class="card_image"></div> -->
    <img [src]="currentImage" *ngIf="currentImage">
    <ion-card-header>
      <ion-card-subtitle>Standard luggage, Rushbag, 6.5 KG</ion-card-subtitle>
      <ion-card-title>Virtanen's Luggage</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="timeline">
        <div *ngFor="let event of events" class="container left" [ngClass]="event.dot == 'green'  ? 'green' : ''">
          <div class="content">
            <p>{{event.timestamp}}</p>
            <h2>
              <ion-icon name="airplane"></ion-icon> {{event.airport}}
            </h2>
            <p>{{event.type}}</p>
          </div>
        </div>
      </div>

      <ion-chip style="background-color: rgb(73, 211, 133); color: white; font-size: 14px;">UNDAMAGED</ion-chip>
      <ion-chip style="background-color: rgb(73, 211, 133); color: white; font-size: 14px;">UNLOST</ion-chip>
      <ion-chip style="background-color: rgb(211, 73, 73);  color: white; font-size: 14px;">FLAGGED</ion-chip>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer style="text-align: center;" no-border>
  <ion-button color="vibrant" class="footer_button" expand="full" [routerLink]="'/rate/'">
    <ion-icon slot="start" name="checkmark"></ion-icon>
    CLAIMED
  </ion-button>
  <ion-button class="footer_button" expand="full" color="danger" [routerLink]="'/lost/'">
    <ion-icon slot="start" name="help"></ion-icon>
    REPORT LOST
  </ion-button>
</ion-footer>