<ion-content padding>
  <ion-card>
    <ion-card-content>
      <div><b class="title">Name</b><br><p class="body">Amanda Virtanen</p></div>
      <div><b class="title">Destination</b><br><p class="body">ATL</p></div>
      <div><b class="title">Phone</b><br><p class="body">+450 8272902</p></div>
      <div><b class="title">Email</b><br><p class="body">amanda.virtanen@qoco.aero</p></div>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      All information is correct ?
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="vibrant" [routerLink]="'/instructions/'">Yes, Continue</ion-button>
      <ion-button [routerLink]="'/search/'" color="danger">No</ion-button>
    </ion-col>
  </ion-row>
</ion-content>