.check_div {
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.check_div ion-icon {
    font-size: 82px;
    color: #33b675;
}

.camera_icon {
    font-size: 30px;
}

.search_btn {
    height: 80px;
}

ion-footer {
    text-align: center;
}