.check_div {
    font-size: 22px;
    text-align: center;
    margin-bottom: 100px;
}

.check_div ion-icon {
    font-size: 82px;
    color: #33b675;
}

.upper_div {
    height: 50vh;
}

.instructions_div {
    height: 50vh;
    overflow-y: auto;
}

.camera_icon {
    font-size: 30px;
}

.search_btn {
    height: 80px;
}