ion-content {
    --background: url('/assets/img/search_bg.png') center;
    --background-size: cover;
}

.img_container {
    margin-top: 15vw;
    margin-bottom: 15vw;
    text-align: center;
}

.reference_input ion-input {
    --background-color: transparent;
    font-size: 32px;
    color: #777;
}

.search_btn {
    padding: 10px 0px;
    height: 100px;
}