<ion-content padding>

  <div class="img_container">
    <img width=150 src="../../assets/img/icon.png" />
  </div>

  <ion-item class="reference_input">
    <ion-label position="floating">REFERENCE NUMBER</ion-label>
    <!-- Input with clear button when there is a value -->
    <ion-input clearInput></ion-input>
  </ion-item>
  <br>
  <ion-item class="reference_input">
    <ion-label position="floating">LAST NAME</ion-label>
    <!-- Input with clear button when there is a value -->
    <ion-input [(ngModel)]="name" clearInput></ion-input>
  </ion-item>

  <ion-button color="vibrant" class="search_btn" expand="full" (click)="findFlight()">
    <b>FIND MY FLIGHT</b>
  </ion-button>

</ion-content>